.ArticleViewer {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    /* justify-content: stretch; */

    height: calc(100vh - 85px); /* subtract 85px for navbar*/
}

iframe {
    margin: 15px;
    padding: 2px;/*15px 15px 0 15px; /* no padding on bottom */
    width: 75%;
    /* height: 100%; */

    background-color: cornflowerblue;
    border-width: 2px;
    border-style:solid;
    border-radius: 3px;
}